body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    gap:0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15vw;
    color: #ffffff;
    background-color: #20325d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    background: #ffffff;
    color: #20325d;
    padding: 4px;
    border-radius: 12px;
    font-size: 22px;
}

.navbar i{
    color:#ED7923;
    font-size: 20px;
}
.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.5vw;
    background: linear-gradient(to bottom, #BF7D2A, #ED7923, #2BB3B1);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: 10px;
    
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.data-atualizacao-input,
.data-proxima-atualizacao-input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.custom-thead {
    background-color: #ED7923;
    color:#20325d;
}

.btn-primary {
    background-color: #ED7923!important ;
}

.content {
    width: 80vw;
    margin-left: 18vw; 
}

.inactive {
    display: none;
}

.modal-dialog {
    max-height: 80vh; /* Defina a altura máxima desejada, por exemplo, 80% da altura da viewport */
    width: 80%;
}

.modal-body {
    overflow-y: scroll;
}

.existing-images {
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    cursor: pointer;
}

.image-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    transition: opacity 0.2s;
}

.image-item.active img {
    opacity: 0.8;
}

.image-details {
    flex: 0 0 20%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.img img{
    max-width: 100%; 
    height: auto;
}


#exclusao {
    margin-top: 10%;
    border: red;
    border-style: solid;
    border-radius: 10px;
    padding: 10%;
}

.vigencias{
    gap: 10px;
}

.adicionarvigencia {
    width: auto;
}

.operadora {
    padding-top: 12px;
    padding-bottom: 12px;
}

.operadora:nth-child(even) {
    background-color: #fff; /* Fundo branco para divs pares */
}
  
.operadora:nth-child(odd) {
    background-color: #f2f2f2; /* Fundo cinza claro para divs ímpares */
}

.cabecalho {
    font-weight: bold;
    background: #fff;
    color: #20325d;
    padding: 12px;
    border: 1px solid #333;
    height: auto;
}

.footer{
    background: #20325d;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: auto;
    border: none;
}

.salvar-btn, .update-btn{
    min-width: -webkit-fill-available;
}

.excluir-btn {
    width: auto;
    margin: auto;
}
  
.vigenciasLinha:nth-child(even) {
    background-color: #6deeff; /* Fundo branco para divs pares */
}
  
.vigenciasLinha:nth-child(odd) {
    background-color: #c7f8ff; /* Fundo cinza claro para divs ímpares */
}