<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Fazer Upload de Arquivo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <h3>Imagens existentes:</h3>
          <ul>
            <% files.forEach(file => { %>
              <li><%= file %></li>
            <% }) %>
          </ul>
  
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>