<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <h1>Linha Master</h1>
            
            <li><a href="/" target="_blank"><i class="bi bi-calendar3"></i> Calendário</a></li>
            <li><a href="/operadoras"><i class="bi bi-heart"></i> Operadoras</a></li>
            <li><a href="/vigencias"><i class="bi bi-calendar2-check"></i> Vigências</a></li>
            <li><a href="/logout"><i class="bi bi-box-arrow-left"></i> Sair</a></li>
        </ul>
    </div>
</body>
</html>